.task {
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.task:hover {
    cursor: pointer;
}
.task-icon {
    margin-right: 1em;
    font-size: 80%;
}
.task-title {
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-weight: 400;
    color: #000000;
}
.task:hover .task-title {
    text-decoration: underline;
    transition: .5s;
}
.task-active {
    text-decoration: underline;
}
.task-blocked .task-title{
    color: #aeaeae;
}
.task-blocked:hover .task-title {
    text-decoration: none;
}
.task-blocked:hover {
    cursor: default;
}
@media only screen and (max-width: 768.99px) {
    .task {
        padding: .75em 1em;
    }
}