.card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .75em;
    border-radius: 5px;
}
.card-read {
    background-color: transparent;
}
.card-unread {
    background-color: #ffffff;
}
.card-active {
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #aeaeae;
}
.card:hover, 
.card-read:hover, 
.card-unread:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px #aeaeae;
    background-color: #ffffff;
}
.card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}
.card-author, 
.card-date, 
.card-title, 
.card-description {
    margin: 0;
    padding: 0;
}
.card-author, .card-date {
    font-size: 80%;
    font-weight: 400;
} 
.card-date { color: #aeaeae; }
.card-title { font-size: 100%; font-weight: 700; }
.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;   
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    font-weight: 400;
}
.card-avatar {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
}
.card-new {
    background-color: #584cea;
    padding: .5em 1em;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 80%;
}