.task-tab {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0;
    width: auto;
    min-width: 25%;
    background-color: #ffffff;
    border-radius: 5px;
}
.task-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}